@import "styles/base";

.messageIcon {
  i {
    font-size: 5em;
    text-align: center;
    color: $highlight-color;
    display: inline-grid;
    padding-right: 10px;
  }
  &.error i {
    color: $error-color;
  }
  h1 {
    display: inline-grid;
    vertical-align: top;
  }
}
