@import "styles/base";

label {
  font-weight: bold;
  color: $secondary-color;
  &.field {
    input:not([type="checkbox"]) {
      padding: 10px;
      border: 1px solid $light-gray-color;
      border-radius: 4px;
      letter-spacing: 2px;
      font-size: 1.5em;
      outline: none;
      color: $secondary-color;
      margin-top: 10px;
      &::placeholder {
        font-size: 0.6em;
      }
      &.max-fit {
        width: 100%;
        box-sizing: border-box;
      }
      &.error {
        color: $error-color;
        border-color: $error-color;
      }
    }
    p {
      color: $error-color;
      font-size: 0.8em;
    }
    i.inside {
      position: relative;
      left: -1.5em;
      font-size: 1.5em;
      cursor: pointer;
    }
    &::before {
      content: "";
      position: relative;
      display: block;
      height: 4px;
      width: 40px;
      top: 80px;
      background: transparent;
      will-change: transform, opacity;
      border-radius: 0 0 0 4px;
    }
    &:focus-within::before {
      background: $highlight-form-color;
    }
  }
}
