$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;
$highlight-color: #00c3dd;
$highlight-form-color: #ff8a58;
$error-color: #bb0035;

$white: #ffffff;
$black: #000000;
$strong-gray-color: #758f9b;
$light-gray-color: #cbd5da;

$shadow-color: rgba(0, 0, 0, 0.7);

$min-width-gird-col: 340px;
$min-width-gird-col-small: 150px;

$font-size-small: 0.8em;
