@import "assets/font-awesome/scss/font-awesome.scss";

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  &-header {
    &-logo {
      max-width: 80px;
    }
  }
}
